@import url('https://rsms.me/inter/inter.css');

body {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Apple SD Gothic Neo',
    'segoe ui', 'Helvetica', 'Arial', sans-serif, 'apple color emoji',
    'segoe ui emoji', 'segoe ui symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

table {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: calc(100% - 60px);
  border-spacing: 0;
  margin: 30px;
}

h1.hero {
  font-weight: 700;
}

td {
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  width: 100px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
td:first-child {
  border-left: none;
}
td:last-child {
  border-right: none;
}

body {
  background: #681117;
  color: black;
}

a,
a:link,
a:visited {
  color: black;
  text-decoration: none;
}

#main {
  margin-top: calc(min(50vw, 12rem));
  margin-bottom: 2rem;
}

.ticket {
  background-image: url('./static/ticket.png');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 625px;
  /* background-color: #b49d80; */
  padding: 0.5rem 0 0.5rem 0;
}
