@import url("https://rsms.me/inter/inter.css");
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
body {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Apple SD Gothic Neo",
    "Spoqa Han Sans", "segoe ui", "Helvetica", "Arial", sans-serif,
    "apple color emoji", "segoe ui emoji", "segoe ui symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.accentColor {
  color: #653b90;
}

.italicized-small-darkgray {
  color: gray;
  font-style: italic;
  font-size: small;
}

body {
  background: #000000;
  color: white;
}
a,
a:link,
a:visited {
  color: white;
  text-decoration: none;
}
